@tailwind base;
@tailwind components;
@tailwind utilities;

    @layer utilities {
      @keyframes scroll-left {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }
      .animate-scroll-left {
        animation: scroll-left linear infinite;
        animation-duration: 20s; /* Adjust scroll speed */
      }
    }
